<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
      <section class="section">
        <div class="content is-medium is-parent">
          <h1 class="title">
            Добрый вечер, Борис!
          </h1>
        </div>
         <div class="card">
              <div class="card-content">
                <div class="content">
                    <div class="subtitle">Сумма</div>
                    <input class="input" type="text" placeholder="Text input" value="0">
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                    <div class="subtitle">Кредит</div>
                    <input class="input" type="text" placeholder="Text input" value="0">
                </div>
              </div>
         </div>
      </section>
      <section class="section">
         <div class="card has-background-black">
              <div class="card-content">
                <div class="content">
                    <div class="subtitle has-text-grey-lighter">Обязательные платежи</div>
                    <div class="title has-text-weight-bold has-text-white">72 611 KZT</div>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                    <div class="subtitle has-text-grey-lighter">Сбережения</div>
                    <div class="title has-text-weight-bold has-text-warning-dark">86 633 KZT</div>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                    <div class="subtitle has-text-grey-lighter">Свободные средства</div>
                    <div class="title has-text-weight-bold has-text-success">57 755 KZT</div>
                </div>
              </div>
         </div>
      </section>
  </body>
</html>