{% extends 'base.html' %}

{% block head %}
<title>info</title>
{% endblock %}

{% block body %}
    <div class="section">
        <table class="table is-fullwidth">
          <tbody>
            {% if loan %}
                <tr>
                  <td class="has-text-weight-bold">Обязательные платежи</td>
                  <td>{{ loan }}</td>
                </tr>
            {% endif %}
            {% if capital %}
                <tr>
                    <td class="has-text-weight-bold">Сбережения</td>
                    <td>{{ capital }}</td>
                </tr>
            {% endif %}
            {% if amount %}
                <tr>
                    <td class="has-text-weight-bold">Свободные средства</td>
                    <td>{{ amount }}</td>
                </tr>
            {% endif %}
          </tbody>
        </table>

        <h1 class="title is-3 has-text-black">{{ month }}</h1>
        <p class="subtitle is-6 has-text-black">Столько вы соберете за год, если будете откладывать ежемесячно {{ percent }}% дохода.</p>
        <p><a class="inherit-link-main" href="/">Рассчитать ещё</a></p>
    </div>

{% endblock %}