{% extends 'base.html' %}

{% block head %}
<title>info</title>
{% endblock %}

{% block body %}
    <div class="section">
        <p class="subtitle is-5 has-text-weight-bold has-text-black">За 6 месяцев вы сможете собрать</p>
        <h1 class="title is-3 has-text-black">200 000 тнг.</h1>
        <table class="table is-fullwidth">
          <tbody>
            <tr>
              <td class="has-text-weight-bold">Обязательные платежи</td>
              <td>40 000 KZT</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Сбережения</td>
              <td>20 000 KZT</td>
            </tr>
            <tr>
              <td class="has-text-weight-bold">Свободные средства</td>
              <td>80 000 KZT</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}