{% extends 'layouts/base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
                <div class="block">
                    <form action="" method="post">
                        <div class="field">
                           {{ form.hidden_tag() }}
                            <label class="label">Вход</label>
                            <div class="field has-addons has-icons-right">
                                <div class="control is-expanded">
                                    {{ form.email(placeholder="Почта", class="input is-medium") }}
                                </div>
                                {% for error in form.email.errors %}
                                 <p>{{ error }}</p>
                                {% endfor %}
                            </div>

                            <div class="field has-icons-right">
                                <div class="control is-expanded">
                                    {{ form.password(placeholder="Пароль", class="input is-medium") }}
                                </div>
                                {% for error in form.password.errors %}
                                  <p>{{ error }}</p>
                                {% endfor %}
                            </div>

                            <div class=content>
                                <label for="remember" class="checkbox">
                                  <input checked id="remember" name="remember" required type="checkbox">
                                  Запомнить меня
                                </label>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-info is-medium" type="submit">Войти</button>
                                </div>
                                <div class="control">
                                    <a class="button is-light is-medium" href="{{ url_for('register') }}">Зарегистрироваться</a>
                                </div>
                            </div>
                            {% for message in get_flashed_messages() %}
                                <p style="color: red;">Ошибка : {{ message }}</p>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}