{% extends 'layouts/base.html' %}

{% block head %}
<link href="static/css/sign-in.css" rel="stylesheet">
<title>Register</title>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{% endblock %}

{% block body %}
  <body class="text-center">
    <main class="form-signin">
      <form action="" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
        {{ form.hidden_tag() }}
          {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="name@example.com") }}
          <label for="floatingInput">Email address</label>
            {% for error in form.email.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-floating">
            {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder="Password") }}
          <label for="floatingPassword">Password</label>
            {% for error in form.password.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="checkbox mb-3">
          <label for="remember">
            <input checked id="remember" name="remember" required type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>
    </main>
  </body>
{% endblock %}




