{% extends 'base.html' %}

{% block head %}
<title>censor</title>
{% endblock %}

{% block body %}
    <div class="section">
        <p class="title is-1">Welcome to {{ name }}!</p>
        <div class="block">
            <form method="post">
                <p class="label is-large has-text-black">Калькулятор доходов</p>
                    <div class="field">
                      <label class="label">Зарплата</label>
                      {% if value %}
                        <div class="field has-addons">
                            <div class="control is-expanded has-icons-right">
                              <input name="amount" class="input is-medium" type="tel" placeholder="0" value="{{ value }}" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-tenge"></i>
                              </span>
                            </div>
                          </div>
                      {% else %}
                        <div class="field has-addons">
                            <div class="control is-expanded has-icons-right">
                              <input name="amount" class="input is-medium" type="number" placeholder="0" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-tenge"></i>
                              </span>
                            </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="field">
                      <label class="label">Кредит</label>
                      {% if value %}
                        <div class="field has-addons has-icons-right">
                            <div class="control is-expanded">
                              <input name="loan" class="input is-medium" type="number" placeholder="0" value="{{ value }}" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-tenge"></i>
                              </span>
                            </div>
                          </div>
                      {% else %}
                        <div class="field has-addons">
                            <div class="control is-expanded has-icons-right">
                              <input name="loan" class="input is-medium" type="number" placeholder="0" value="0" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-tenge"></i>
                              </span>
                            </div>
                          </div>
                      {% endif %}
                    </div>
                    <div class="field">
                      <label class="label">Отложить</label>
                      {% if value %}
                          <div class="field has-addons">
                            <div class="control is-expanded has-icons-right">
                              <input name="capital" class="input is-medium" type="number" placeholder="10" value="{{ value }}" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-percent"></i>
                              </span>
                            </div>
                          </div>
                      {% else %}
                          <div class="field has-addons">
                            <div class="control is-expanded has-icons-right">
                              <input name="capital" class="input is-medium" type="number" placeholder="10" value="10" required pattern="/^\d+$/">
                              <span class="icon is-small is-right">
                                <i class="fas fa-percent"></i>
                              </span>
                            </div>
                          </div>
                      {% endif %}
                    </div>

                    <button class="button is-medium is-info is-light is-fullwidth" type="submit">Рассчитать</button>


            </form>
        </div>
    </div>
        <div class="section">
            <p class="subtitle is-5 has-text-weight-bold has-text-black">За 6 месяцев вы сможете собрать</p>
            <p class="title is-1 has-text-weight-bold has-text-black">{{ amount }}</p>

            <hr>
            <table class="table is-fullwidth">
              <thead>
              <tr>
                  <th>Наименование</th>
                  <th>Сумма</th>
              </tr>
              </thead>
              <tbody class="has-text-info">
                <tr>
                  <td>Обязательные платежи</td>
                  <td>40 000 KZT</td>
                </tr>
                <tr>
                  <td>Сбережения</td>
                  <td>20 000 KZT</td>
                </tr>
                <tr>
                  <td>Свободные средства</td>
                  <td>80 000 KZT</td>
                </tr>
              </tbody>
            </table>
        </div>


{% endblock %}